## This should cause merges to happen instead of problems with this pbxproj file. (https://thoughtbot.com/blog/xcode-and-git-bridging-the-gap)
*.pbxproj merge=union
## view .string files as text (https://stackoverflow.com/questions/36206842/how-to-make-git-consider-strings-files-as-text-file-instead-of-binary-file)
*.strings diff
