<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>869386044059-hma4o104a312mrmqgnred7juf50ilqkd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.869386044059-hma4o104a312mrmqgnred7juf50ilqkd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>869386044059-hghpcndrduknp78uacg50dji5olmoj8c.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB5XT4xHAP5HyCNENCjvlwceJGsV9p9AdU</string>
	<key>GCM_SENDER_ID</key>
	<string>869386044059</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lukelu.Hymns</string>
	<key>PROJECT_ID</key>
	<string>debug-1487c</string>
	<key>STORAGE_BUCKET</key>
	<string>debug-1487c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:869386044059:ios:a417abb75c9a587ad77c3e</string>
	<key>DATABASE_URL</key>
	<string>https://debug-1487c.firebaseio.com</string>
</dict>
</plist>